In [52]:
from sqlalchemy import create_engine
import pandas as pd
import datetime
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()

In [51]:
from google.colab import files
upload=files.upload()

Saving Bookings.csv to Bookings.csv
Saving Facilities.csv to Facilities.csv
Saving Members.csv to Members.csv

In [50]:
from sqlalchemy import create_engine
import pandas as pd
import datetime
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
#engine = create_engine('sqlite:///sql.db')
con = engine.connect()

#members.head
#/content/sqlite_db_pythonsqlite.db
#/content/Members.csv
#rs1= con.execute('select * from Members')
#rs1 = con.execute("SELECT * FROM Members")
#rs2 = con.execute("SELECT * FROM Bookings;")
#rs3 = con.execute("SELECT * FROM Facilities;")
#members = pd.DataFrame(rs1.fetchall())
#members.columns = rs1.keys()
#bookings = pd.DataFrame(rs2.fetchall())
#bookings.columns = rs2.keys()
#facilities = pd.DataFrame(rs3.fetchall())
#facilities.columns = rs3.keys()
#members.head()

#/content/sqlite_db_pythonsqlite.db

In [72]:
mem_file_read=pd.read_csv('/content/Members.csv')
mem_file_read.head()

,memid,surname,firstname,address,zipcode,telephone,recommendedby,joindate
0,0,GUEST,GUEST,GUEST,0,(000) 000-0000,NaN,2012-07-01 00:00:00
1,1,Smith,Darren,"8 Bloomsbury Close, Boston",4321,555-555-5555,NaN,2012-07-02 12:02:05
2,2,Smith,Tracy,"8 Bloomsbury Close, New York",4321,555-555-5555,NaN,2012-07-02 12:08:23
3,3,Rownam,Tim,"23 Highway Way, Boston",23423,(844) 693-0723,NaN,2012-07-03 09:32:15
4,4,Joplette,Janice,"20 Crossing Road, New York",234,(833) 942-4710,1.0,2012-07-03 10:25:05

In [67]:
table_names = engine.table_names()
print(table_names)

[]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

In [ ]:
df=pd.read_sql_query('Select * From Bookings',con)
df

In [74]:
''' Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! '''

import pandas as pd
import sqlite3 as sql
countryclub_db = 'sqlite_db_pythonsqlite.db'
connection = sql.connect(countryclub_db)

In [87]:
#query11 = 'SELECT facility, SUM(total_cost) AS revenue FROM (SELECT firstname, surname, Facilities.name AS facility, CASE WHEN memid = 0 THEN "guest"ELSE "member" END AS person_type, CASE WHEN memid = 0 THEN guestcost*slots ELSE membercost*slots END AS total_cost FROM Bookings JOIN Members USING(memid) JOIN Facilities USING(facid)) AS total_cost_per_booking GROUP BY facility HAVING SUM(total_cost) < 1000 ORDER BY SUM(total_cost) DESC'
query = 'SELECT name, total_revenue FROM (SELECT name, SUM(CASE WHEN Bookings.memid = 0 THEN Facilities.guestcost * slots ELSE Facilities.membercost * slots END) as total_revenue FROM Bookings	JOIN Members ON Bookings.memid = Members.memid JOIN Facilities ON Bookings.facid = Facilities.facid GROUP BY name) as Facilities_Revenue WHERE total_revenue < 1000 ORDER BY total_revenue DESC'

'''
#query = 
SELECT name, total_revenue
FROM (
	SELECT name, 
	SUM(
		CASE WHEN Bookings.memid = 0
		THEN Facilities.guestcost * slots
		ELSE Facilities.membercost * slots
		END
	) as total_revenue
	FROM Bookings
	JOIN Members
		ON Bookings.memid = Members.memid
	JOIN Facilities
		ON Bookings.facid = Facilities.facid
	GROUP BY name
) as Facilities_Revenue
WHERE total_revenue < 1000
ORDER BY total_revenue DESC;

'''

'\n#query = \nSELECT name, total_revenue\nFROM (\n\tSELECT name, \n\tSUM(\n\t\tCASE WHEN Bookings.memid = 0\n\t\tTHEN Facilities.guestcost * slots\n\t\tELSE Facilities.membercost * slots\n\t\tEND\n\t) as total_revenue\n\tFROM Bookings\n\tJOIN Members\n\t\tON Bookings.memid = Members.memid\n\tJOIN Facilities\n\t\tON Bookings.facid = Facilities.facid\n\tGROUP BY name\n) as Facilities_Revenue\nWHERE total_revenue < 1000\nORDER BY total_revenue DESC;\n\n'

In [ ]:
df = pd.read_sql_query(query, con)
df

In [89]:
''' Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order '''

query_q11 = 'SELECT firstname, surname, recommendedby FROM Members WHERE recommendedby != 0 ORDER BY surname, firstname'

'''
#query = 
SELECT firstname, surname, recommendedby
FROM Members
WHERE recommendedby != 0
ORDER BY surname, firstname;
'''

'\nquery = \nSELECT firstname, surname, recommendedby\nFROM Members\nWHERE recommendedby != 0\nORDER BY surname, firstname;\n'

In [ ]:
df = ps.read_sql_query(query_q11,con)
df

In [90]:
''' Q12: Find the facilities with their usage by member, but not guests '''

query_q12 = 'SELECT firstname, surname, name AS facility FROM Bookings AS b INNER JOIN Facilities as f USING(facid) INNER JOIN Members AS m USING(memid) WHERE firstname NOT LIKE "GUEST" AND surname NOT LIKE "GUEST" ORDER BY surname, firstname'

'''
#query = 
/* Q12: Find the facilities with their usage by member, but not guests */
SELECT firstname, surname, name AS facility
FROM Bookings AS b
INNER JOIN Facilities as f
USING(facid)
INNER JOIN Members AS m
USING(memid)
WHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST'
ORDER BY surname, firstname;
'''

"\nquery = \n/* Q12: Find the facilities with their usage by member, but not guests */\nSELECT firstname, surname, name AS facility\nFROM Bookings AS b\nINNER JOIN Facilities as f\nUSING(facid)\nINNER JOIN Members AS m\nUSING(memid)\nWHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST'\nORDER BY surname, firstname;\n"

In [ ]:
df = pd.read_sql_query(query_q12,con)
df

In [91]:
''' Q13: Find the facilities usage by month, but not guests '''

query_q13 = 'SELECT name AS facility, MONTH(starttime) AS Month FROM Bookings AS b INNER JOIN Facilities as f USING(facid) INNER JOIN Members AS m USING(memid) WHERE firstname NOT LIKE "GUEST" AND surname NOT LIKE "GUEST"'


'''
query = 
SELECT name AS facility, MONTH(starttime) AS Month
FROM Bookings AS b
INNER JOIN Facilities as f
USING(facid)
INNER JOIN Members AS m
USING(memid)
WHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST';
'''

"\nquery = \nSELECT name AS facility, MONTH(starttime) AS Month\nFROM Bookings AS b\nINNER JOIN Facilities as f\nUSING(facid)\nINNER JOIN Members AS m\nUSING(memid)\nWHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST';\n"

In [ ]:
df=pd.read_sql_query(query_q13,con)
df